## Machine Learning Zoomcamp - Homework 1 - Holley St. Germain

I used Google Colab: https://colab.research.google.com/github/holleyst/mlzoomcamp2023/blob/main/mlzc_hw1.ipynb

Github: https://github.com/holleyst/mlzoomcamp2023/blob/main/mlzc_hw1.ipynb

Q1: What's the version of Pandas that you installed?

A1: 1.5.3

In [2]:
import numpy as np
import pandas as pd

pd.__version__

'1.5.3'

Q2: How many columns are in the dataset?

A2: 10

In [9]:
url = 'https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv'
data = pd.read_csv(url)
df = pd.DataFrame(data)
df.shape[1]

10

Q3: Which columns in the dataset have missing values?

A3: total_bedrooms

In [37]:
df_find_missing = df.dropna(how='all').dropna(how='all', axis=1)
for col, val in df_find_missing.isnull().any().to_dict().items():
  if val is True:
    print(col)

total_bedrooms

Q4: How many unique values does the ocean_proximity column have?

A4: 5

In [40]:
df.ocean_proximity.nunique()

5

Q5: What's the average value of the median_house_value for the houses located near the bay?

A5: 259212

In [59]:
round(df.loc[df['ocean_proximity'] == 'NEAR BAY'].median_house_value.mean())

259212

Q6:

1.   Calculate the average of total_bedrooms column in the dataset.
2.   Use the fillna method to fill the missing values in total_bedrooms with the mean value from the previous step.
3.   Now, calculate the average of total_bedrooms again.
4.   Has it changed?

A6:
* mean before fillna: 537.871
* mean after fillna: 537.871
* no change

In [58]:
mean1 = round(df.total_bedrooms.mean(), 3)
df.total_bedrooms = df.total_bedrooms.fillna(df.total_bedrooms.mean())
mean2 = round(df.total_bedrooms.mean(), 3)
changed = mean1 != mean2
print(mean1, mean2, changed)

537.871 537.871 False

Q7:

1.   Select all the options located on islands.
2.   Select only columns housing_median_age, total_rooms, total_bedrooms.
3.   Get the underlying NumPy array. Let's call it X.
4.   Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
5.   Compute the inverse of XTX.
6.   Create an array y with values [950, 1300, 800, 1000, 1300].
7.   Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
8.   What's the value of the last element of w?

A7: 5.6992

In [96]:
X = df.loc[df['ocean_proximity'] == 'ISLAND'][['housing_median_age', 'total_rooms', 'total_bedrooms']].to_numpy()
XTX = np.dot(X.T, X)
XTX_inv = np.linalg.inv(XTX)
y = np.array([950, 1300, 800, 1000, 1300])
w = np.dot(np.dot(XTX_inv, X.T), y)
round(w[-1],4)

5.6992